body {
  background-color: #3a62b1;
}

label {
  font-size: 2.2rem;
}

input {
  height:40px;
  width:500px;
  font-size: 1rem;
  text-align: center;
}

.App {
  text-align: center;
}

h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 3rem;
}

button {
  width: 100px;
  height: 40px;
  font-size: 1rem;
  background-color: greenyellow;
  margin:2%;
}

.article-list {
  font-size: x-large;
  color: darkblue;
}


.article {
  background-color: lightgreen;
  border: 2px dotted gray;
  margin: 5%;
  padding: 2.5%;
}